:root {
    --color-bg: #fff;
    --color-text: #34495e;
    --heading-color: #2c3e50;
    --strong-color: #2c3e50;
    --blockquote-color: #858585;
    --sidebar-bg: #fff;
    --sidebar-color: #505d6b;
    --sidebar-link-color: #505d6b;
    --sidebar-name-color: #364149;
    --sidebar-group-title-color: #364149;
    --border-color: #eee;
    --sidebar-border-color: rgba(0, 0, 0, .07);
    --sidebar-toggle-bg-hover: var(--theme-color);
    --code-bg: #f8f8f8;
    --codeblock-bg: #f8f8f8;
    --code-color: #2c8c5e;
    --codeblock-color: #525252;
    --table-row-alt-bg: #f8f8f8;
    --theme-color: #42b883;
    --button-bg: var(--theme-color);
    --button-color: #fff;
    --mark-bg: var(--theme-color);
    --mark-color: #fff;
    --sidebar-toggle-bg: hsla(0, 0%, 100%, .8);
}

.callout.caution {
    --callout-bg: var(--color-bg);
}

.callout.important {
    --callout-bg: var(--color-bg);
}

.callout.note {
    --callout-bg: var(--color-bg);
}

.callout.tip {
    --callout-bg: var(--color-bg);
}

.callout.warning {
    --callout-bg: var(--color-bg);
}
