:root {
    --color-bg: #f4ecd8;
    --color-text: #4a3b2a;
    --heading-color: #3e2f1f;
    --strong-color: #3e2f1f;
    --blockquote-color: #858585;
    --sidebar-bg: #f4ecd8;
    --sidebar-color: #5b4a36;
    --sidebar-link-color: #5b4a36;
    --sidebar-name-color: #4a3b2a;
    --sidebar-group-title-color: #4a3b2a;
    --sidebar-toggle-bg-hover: var(--theme-color);
    --border-color: #eee;
    --sidebar-border-color: rgba(91, 70, 43, .14);
    --code-bg: #eadfca;
    --codeblock-bg: #eadfca;
    --code-color: #8b5e34;
    --codeblock-color: #4a3b2a;
    --table-row-alt-bg: #efe4cf;
    --theme-color: #ecc7a2;
    --button-bg: var(--theme-color);
    --button-color: #f4ecd8;
    --mark-bg: var(--theme-color);
    --mark-color: #f4ecd8;
    --sidebar-toggle-bg: hsla(39, 45%, 92%, .85);
}
